@import '../../../variables.scss';

.card-outer {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  border: 3px solid $font_dark;
  font-size: 1rem;
  font-weight: normal;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 $font_dark;
  transition: 0.2s;
  @media (max-width: 599px) {
    position: relative;
    top: -10%;
  }
  @media (min-width: 600px) {
    flex-direction: column;
  }
  &:hover {
    box-shadow: 0 8px 16px 0 $font_dark;
  }
  p {
    margin: 0;
  }
  .img {
    box-shadow: none;
    border: 3px solid $font_dark;
    padding: 0.5rem;
    @media (max-width: 599px) {
      max-width: 100%;
      max-height: 100%;
    }

    @media (min-width: 600px) {
      padding: 1rem;
      margin: -1rem;
    }
  }
  .info {
    margin: 1rem;
    border-radius: 8px;
    vertical-align: middle;
  }
  span {
    font-weight: bold;
  }
}
