@import '../../../variables.scss';

.outer {
  width: 50vw;
  max-width: 32vw;
  height: 50vw;
  max-height: 32vw;
  box-sizing: border-box;
  padding: 1vmin;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
