@import '../../variables.scss';

.input {
  color: $font_dark;
  background-color: $bg_dark;
  border-radius: 8px;
  font-size: initial;
  font-weight: initial;
  display: flex;
  width: 85vw;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  form {
    display: contents;
  }
}

// for Chrome
input {
  border-radius: 4px;
}

input[type='submit'] {
  @include button($lightElement...);
  border-color: transparent;
  display: inline-block;
  width: 4rem;
  font-weight: bold;
  margin: 0 1rem;
  padding: 0.5rem;
}
