@import '../../variables.scss';

.input {
  color: $font_dark;
  background-color: $bg_dark;
  border-radius: 8px;
  font-size: initial;
  font-weight: initial;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}

input[type='submit'] {
  @include button($darkElement...);
  display: inline-block;
  background-color: $bg_light;
  width: 4rem;
  font-weight: bold;
  transition: border 0.2s, color 0.2s, background-color 0.2s;
  &:hover {
    color: $font_dark__hover;
    background-color: $bg_light__hover;
    border: 2px solid $font_dark__hover;
    transition: border 0.2s, color 0.2s, background-color 0.2s;
  }
}
