@import '../../../variables.scss';

.img-outer {
  padding: 1vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 50vmin;
  max-width: 30vmin;
  height: 50vmin;
  max-height: 30vmin;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include imageShadow;
}
