@import '../../../variables.scss';

header {
  display: flex;
  width: 100%;
  position: relative;
  font-size: 1.5rem;
  background: $bg_dark;
  color: $font_dark;
  letter-spacing: 0.5rem;
  padding: 1rem 0 0;
  @media (max-width: 767px) {
    flex-direction: column;
  }
  nav {
    display: flex;
    @media (max-width: 767px) {
      justify-content: flex-end;
    }
  }
  a {
    @include link;
    transition: 0.2s;
    &.active,
    &:hover {
      background: $bg_light;
      transition: 0.2s;
    }
    &.active {
      pointer-events: none;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.nav-mobile {
  a {
    display: flex;
    justify-content: center;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $bg_dark;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  div {
    position: relative;
    top: -100px;
  }
}
