@import '../../variables.scss';

nav {
  font-size: 1.5rem;
  background: $bg_dark;
  color: $font_dark;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    @media (max-width: 599px) {
      flex-direction: column;
    }
    &.collapsed {
      li {
        display: none;
        @media (min-width: 600px) {
          display: initial;
        }
      }
      li.active {
        display: initial;
        width: 100%;
        @media (min-width: 600px) {
          width: auto;
        }
      }
    }
    li {
      border-bottom: 0.5rem solid transparent;
      :hover {
        color: $bg_dark;
        background: $bg_dark__hover;
      }
      &.active {
        background: $bg_dark__hover;
        color: $font_light;
        pointer-events: none;
        border-bottom: 0.5rem solid $bg_dark;
      }
    }
    a {
      @include link;
    }
  }
  .icon-button {
    @include button($lightElement...);
    background-color: $bg_light;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    pointer-events: auto;
    border-left: none;
    border-right: none;
    @media (min-width: 600px) {
      display: none;
    }
  }
}
