@import '../../../../variables.scss';

.card-outer {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  border: 3px solid $font_dark;
  font-size: 1rem;
  font-weight: normal;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 $font_dark;
  transition: box-shadow 0.2s;
  @media (max-width: 767px) {
    flex-direction: column;
    position: relative;
    top: -10%;
    h4,
    p {
      margin: 0;
    }
  }
  &:hover {
    transition: box-shadow 0.2s;
    box-shadow: 0 8px 16px 0 $font_dark;
  }

  .img {
    box-shadow: none;
    border: none;
    min-width: 50vmin;
    min-height: 50vmin;
    @media (max-width: 767px) {
      border-bottom: 3px solid $font_dark;
    }

    @media (min-width: 768px) {
      border-right: 3px solid $font_dark;
    }
  }
  .info {
    padding: 1rem;
    border-radius: 8px;
    word-break: break-word;
    max-width: 50vmin;
  }
  span {
    font-weight: bold;
  }
}
