@import '../../../variables.scss';

.input {
  color: $font_dark;
  background-color: $bg_dark;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  min-width: 60vw;
  margin: 0.2rem auto;
  align-items: center;
  justify-content: center;
  padding: 0.25rem 0;
  @media (max-width: 599px) {
    width: 100vw;
    border-radius: 0;
  }
  @media (min-width: 600px) {
    padding: 1rem;
  }
  form {
    display: contents;
  }
  input {
    margin: 0 0.5rem;
    border: none;

    // for Chrome
    border-radius: 4px;
  }

  label {
    margin: 0.2rem;
  }

  input[type='submit'] {
    @include button($lightElement...);
    border-color: transparent;
    display: inline-block;
    width: 4rem;
    font-weight: bold;
    margin: 0.2rem;
  }
}
