@import '../../../variables.scss';

footer {
  background: $bg_dark;
  font-size: 1rem;
  text-align: end;
  @media (min-width: 768px) {
    padding: 1.5rem;
    letter-spacing: 1rem;
    text-align: center;
  }
  a {
    @include link;
  }
}
