@import '../../../variables.scss';

main {
  display: flex;
  flex-grow: 1;
  background: $bg_light;
  font-weight: bold;
  font-size: 2rem;
  justify-content: center;
  @media (min-width: 768px) {
    padding: 0 2rem;
  }
}
