$bgColor: #6a59b4;
$bgColor-hover: #8270d1;
$bgColor-main: #f0f8ff;
$darkTextColor: #1c0d33;
$darkTextColor-hover: #d5cfda;

@mixin link {
  display: block;
  padding: 1.5rem;
  color: $darkTextColor;
  text-decoration: none;
  font-weight: bold;
  :visited,
  :hover,
  :active {
    color: inherit;
  }
}

@mixin button {
  background: $bgColor-main;
  cursor: pointer;
  outline: none;
  border: 2px solid $bgColor;
  border-radius: 6px;
}
