// font colors
$font_light: #d5cfda;
$font_light__hover: #3e2169;
$font_dark: #1c0d33;
$font_dark__hover: #c1a6d8;

//bg colors
$bg_light: #f0f8ff;
$bg_light__hover: #8270d1;
$bg_dark: #6a59b4;
$bg_dark__hover: #fff;

$lightElement: ($font_light, $font_light__hover, $bg_light, $bg_light__hover);

$darkElement: ($font_light, $font_light__hover, $bg_dark, $bg_dark__hover);

$testImageButton: ($font_dark, $font_light__hover, $bg_light, $bg_dark__hover);

@mixin link {
  display: block;
  padding: 1.5rem;
  color: $font_dark;
  text-decoration: none;
  font-weight: bold;
  :visited,
  :hover,
  :active {
    color: inherit;
  }
}

@mixin button($font, $fontHover, $bg, $bgHover) {
  color: $font;
  background: $bg;
  cursor: pointer;
  outline: none;
  border: 2px solid $font;
  border-radius: 6px;
  transition: border 0.2s, color 0.2s, background-color 0.2s;
  outline: 0;
  &:hover {
    color: $fontHover;
    background: $bgHover;
    transition: border 0.2s, color 0.2s, background-color 0.2s;
  }
}
